@{
    ViewBag.Title = "About | TheNorthernHandyman";
}
<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">

                <h1 class="section-heading ">About My Business...</h1>
                <br />
                <p class="text-muted">
                    This is a family owned business with over 30 years of experience.
                    We have the capabilities to fill all your commercial or residential
                    landscaping needs. We can be flexible to accommodate what works best
                    for our clients and with over 10 years of services provided, we always strive
                    to make sure the customer is completely satisfied.
                    The Northern Handyman goes beyond just mowing the lawn in the summer season.
                    We can provide you with affordable snow removal services during the cold winter
                    season with affordable all year round services Or just one time seasonal services.
                    Is a home based buisness and is centered around focusing on doing the job right the
                    FIRST time while being safety conscious and curtious.

                    The Northern Handyman is able to go beyond just mowing the lawn in the summer season
                    by providing you with affordable snow removal services during the winter
                    cold seasons. We provide affordable all-year-round services Or just one
                    time seasonal services.

                    Feel free to contact us for any services listed on our Services page. We are Fully
                    insured and our company strongly believes in being enviornmentally friendly.
                    If needed we can haul away debris. We do not leave it lying around.
                    We offer topsoil and provide seeding when necessary.
                </p>
            </div>
        </div>
        <br />
        <div class="row col-lg-offset-2">
            <p class="navbar-text"><strong>*SPECIAL*</strong> Ask About our 10% Discount for Veterans and Senior Citizens! Or Our 20% for disabled.</p>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2> Equip. Available</h2>
                <p>
                    <small class="text-muted">
                        78"Brush Hogger"<br />
                        Snow plow trucks & blowers<br />
                        60" Mow & vac<br />
                        Trailers<br />
                        84 inch skid steer snow blower<br />
                        8ft bucket<br />
                        V Bottom salter<br />
                        Commercial 60inch zero turn mower w/vacuum<br />
                    </small>
                </p>
            </div>

            <div class="col-md-4 text-center">
                <h2 class="service-heading">* For Sale * </h2>
                <h4 class="text-center text-muted">- FireWood -</h4>
                <p>
                    <small class="text-muted">
                        $60/Face Cord of mixed hardwood.<br />
                        Pick-Up or Delivery<br />
                    </small>
                </p>
                <br />
                <p>
                    <small>
                        <strong>*Free* </strong> Delivery on purchases of 3-6 Face Cords within a 25 mile radius of New London WI,
                    </small>
                </p>
            </div>
        </div>
    </div>
</section>





   
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
