@{
    ViewBag.Title = "Home | TheNorthernHandyman";
}

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">The NorthernHandyman</div>
            <div class="intro-lead-in">Snow | Tree Removal<br /><small> Professional<br /> Commercial<br /> Residential<br /> </small></div>
            <a href="https://www.facebook.com/NorthernHandyman/" class="page-scroll btn btn-xl">See More</a>
        </div>
    </div>
</header>

    
           


 

