 @{
     ViewBag.Title = "Videos | TheNorthernHandyman";
}


<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <!-- /.row -->
    <!-- Video Row -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Videos</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="https://www.youtube.com/watch?v=pnJ3W_rRbfA">
                <img class="img-responsive portfolio-item"
                     src="~/Content/img/team/SkidSteer.PNG" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="https://www.youtube.com/watch?v=Oof1cVQosWA">
                <img class="img-responsive portfolio-item"
                     src="~/Content/img/team/SnowBlower.PNG" />
            </a>

        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="https://www.youtube.com/watch?v=lc09hHWHYOw">
                <img class="img-responsive portfolio-item"
                     src="~/Content/img/logos/SkidSteerPipe.PNG" alt="">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="https://www.youtube.com/watch?v=C4vx2PYFqtk">
                <img class="img-responsive portfolio-item" src="~/Content/img/logos/LawnCare.PNG" alt="">
            </a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"></h3>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="https://www.youtube.com/watch?v=YXuOkaLIydI">
                    <img class="img-responsive portfolio-item"
                         src="~/Content/img/logos/SkidSteerBlacktopCrushed.PNG">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="https://www.youtube.com/watch?v=fODjCud8VyM">
                    <img class="img-responsive portfolio-item"
                         src="~/Content/img/logos/SweeperDust.PNG">
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
   
</div>